$background-color: hsla(0,0%,23%,1);
$copy-color: #fff;

body {
	background: $background-color;
	color: $copy-color;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 34px;
	line-height: 40px;
	letter-spacing: -1px;
	@extend .smooth;
}

.noscript {
	text-align: center;
	margin-top: 100px;
}

.small {
	opacity: 0.4;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	// letter-spacing: 0.05px;
	color: rgba(255, 255, 255, 0.8);
}

a:link, a:visited {
	color: #00EC91;
	display: inline-block;
	text-decoration: none;
	line-height: 30px;
	border-bottom: 2px solid #00EC91;
	text-shadow: 2px 2px $background-color;
}

.content {
	width: 90%;
	margin: auto;
	max-width: 1700px;
}

header {
	margin-top: 115px;
	margin-bottom: 115px;
	line-height: 34px;
	.logo {
		pointer-events: none;
	}
	.col2 {
		margin-top: 70px;
		position: relative;
	}
	.download {
		position: relative;
		@extend .clearfix;
		&:hover {
			.download-en {
				opacity: 0;
			}
			.download-jp {
				opacity: 1;
			}
		}
		.download-en {
			position: absolute;
			transition: opacity 0.2s;
		}
		.download-jp {
			opacity: 0;
			transition: opacity 0.2s;
			position: absolute;
			border-bottom: none;
			letter-spacing: -4px;
			span {
				position: relative;
				display: inline-block;
				animation: float 1s infinite ease-in-out, rainbow 2s infinite;
				&:nth-child(1) { animation-delay: .1s }
				&:nth-child(2) { animation-delay: .2s }
				&:nth-child(3) { animation-delay: .3s }
				&:nth-child(4) { animation-delay: .4s }
				&:nth-child(5) { animation-delay: .5s }
				&:nth-child(6) { animation-delay: .6s }
			}
		}
	}
	p.small {
		margin-top: 32px;
	}
}

.intro {
	a:link, a:visited {
		color: white;
		border-color: white;
		transition: color 0.3s, border-color 0.3s;
	}
}

.row {
	@extend .clearfix;
}

.col1 {
	width: 49%;
	float: left;
}

.col2 {
	width: 49%;
	float: right;
}

.oryoki {
	text-align: center;
	margin-top: 85px;
	img {
		border-radius: 6px;
		max-width: 800px;
		width: 100%;
		box-shadow: 0px 2px 60px rgba(0,0,0,0.2);
	}
}

.status {
	margin-bottom: 105px;
	.left {
		float: left;
	}
	.right {
		float: right;
		text-align: right;
		color: rgba(255, 255, 255, 0.4);
	}
}

.contact {
	text-align: center;
	// padding: 70px 0;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 20px;
	color: hsla(0,0%,50%,1);
	a:link, a:visited {
		line-height: 20px;
		color: hsla(0,0%,50%,1);
		border-bottom: 1px solid #666666;
		text-shadow: 2px 2px $background-color;
		transition: color 0.3s, border-color 0.3s;
	}
	a:hover {
		color: rgba(255, 255, 255, 0.8);
		border-color: rgba(255, 255, 255, 0.8);
	}
}

@media (max-width: 1100px) {

	body {
		font-size: 30px;
	}

	.col1 {
		width: 48%;
	}

	.col2 {
		width: 48%;
	}

	.content {
		width: 85%;
	}

}

@media (max-width: 800px) {

	body {
		font-size: 30px;
	}

	.col1 {
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}

	.col2 {
		float: none;
		width: 100%;
	}

	.content {
		width: 80%;
	}

	header {
		text-align: center;
		.download {
			width: 100%;
			.download-en {
				// width: 100%;
				// display: inline;
				position: relative;
				left: 0;
			}
			.download-jp {
				width: 100%;
				left: 0;
			}
		}
		p.small {
			margin-top: 0;
		}
	}

	.oryoki {
		img {
			border-radius: 2px;
		}
	}

}